# TP3 - Views, Updates and Design

The objectives for this TP are:

1. Create and use SQL Views
2. Update database content
3. Design the database schema for a Social Network

___

For the first 2 parts we will use the **`wine.db`** database and the Tables created in TP2.

A reminder of the wine database schema:

<center>**Master1**</center>

|*Attribute*|         *Description*          |
| -------   |--------------------------------|
| NV        | Wine number                    |
| CRU       | Vineyard or group of vineyards |
| DEGRE     | Alcohol content                |
| MILL      | Vintage year                   |
| QTE       | Number of bottles harvested    |
| NP        | Producer number                |
| NOM       | Producer's last name           |
| PRENOM    | Producer's first name          |
| REGION    | Production region              |

<center>**Master2**</center>

|*Attribute*|                         *Description*                  |
| -------   |--------------------------------------------------------|
| NV        | Wine number                                            |
| CRU       | Vineyard or group of vineyards                         |
| DEGRE     | Alcohol content                                        |
| MILL      | Vintage year                                           |
| DATES     | Buying date                                            |
| LIEU      | Place where the wine was sold                          |
| QTE       | Number of bottles bought                               |
| NB        | Client (buveur) number                                 |
| NOM       | Client's last name                                     |
| PRENOM    | Client's first name                                    |
| TYPE      | Type of client by volume of purchases                  |
| REGION    | Administrative Region (different to production region) |

In [6]:
import sqlite3

In [7]:
def printSchema(connection):
    ### Source: http://stackoverflow.com/a/35092773/4765776
    for (tableName,) in connection.execute(
        """
        select NAME from SQLITE_MASTER where TYPE='table' order by NAME;
        """
    ):
        print("{}:".format(tableName))
        for (
            columnID, columnName, columnType,
            columnNotNull, columnDefault, columnPK,
        ) in connection.execute("pragma table_info('{}');".format(tableName)):
            print("  {id}: {name}({type}){null}{default}{pk}".format(
                id=columnID,
                name=columnName,
                type=columnType,
                null=" not null" if columnNotNull else "",
                default=" [{}]".format(columnDefault) if columnDefault else "",
                pk=" *{}".format(columnPK) if columnPK else "",
            ))

In [8]:
conn = sqlite3.connect('wine.db')
c = conn.cursor()
print("Database schema:")
printSchema(conn)

Database schema:
MASTER1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: QTE(NUM)
  5: NP(NUM)
  6: NOM(TEXT)
  7: PRENOM(TEXT)
  8: REGION(TEXT)
MASTER2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: DATES(DATE)
  5: LIEU(TEXT)
  6: QTE(NUM)
  7: NB(NUM)
  8: NOM(TEXT)
  9: PRENOM(TEXT)
  10: TYPE(TEXT)
  11: REGION(TEXT)
client:
  0: NB(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: TYPE(TEXT)
producteur:
  0: NP(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: REGION(TEXT)
production:
  0: NP(NUM)
  1: NV(NUM)
  2: QTE(NUM)
region:
  0: REGION(TEXT)
  1: LIEU(TEXT)
vente:
  0: NV(NUM)
  1: NB(NUM)
  2: DATES(NUM)
  3: LIEU(TEXT)
  4: QTE(NUM)
vin:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)

Again, we will use **`%%sql`** magic for our queries

In [9]:
%load_ext sql
%sql sqlite:///wine.db

'Connected: @wine.db'

Recreate the Normalized Tables from **Master1** and **Master2** as you did in the TP2

In [10]:
%%sql 

DROP TABLE IF EXISTS vin;

-- Create vin table
CREATE TABLE vin AS
SELECT DISTINCT NV, CRU, DEGRE, MILL
FROM MASTER1
WHERE NV IS NOT NULL;

 * sqlite:///wine.db
Done.
Done.

[]

In [11]:
%%sql 

DROP TABLE IF EXISTS producteur;
-- Create producteur table
CREATE TABLE producteur AS
SELECT DISTINCT NP, NOM, PRENOM, REGION
FROM MASTER1
WHERE NP IS NOT NULL;

DROP TABLE IF EXISTS production;

-- Create production table
CREATE TABLE production AS
SELECT DISTINCT NP, NV, QTE
FROM MASTER1
WHERE NP IS NOT NULL AND NV IS NOT NULL;

DROP TABLE IF EXISTS client;

-- Create client table
CREATE TABLE client AS
SELECT DISTINCT NB, NOM, PRENOM, TYPE
FROM MASTER2
WHERE NB IS NOT NULL;

DROP TABLE IF EXISTS vente;

-- Create vente table
CREATE TABLE vente AS
SELECT DISTINCT NV, NB, DATES, LIEU, QTE 
FROM MASTER2
WHERE NV IS NOT NULL
    AND NB IS NOT NULL
    AND DATES IS NOT NULL
    AND LIEU IS NOT NULL;
    
DROP TABLE IF EXISTS region;

-- Create region table
CREATE TABLE region AS
SELECT DISTINCT REGION, LIEU
FROM MASTER2
WHERE LIEU IS NOT NULL;

 * sqlite:///wine.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

___
# PART I: CREATE AND USE VIEWS

A view is a virtual table based on the result-set of an SQL statement. Views are stored in the database with an associated name.

Views are created following the syntax:

```mysql
CREATE VIEW view_name AS
SELECT column1, column2.....
FROM table_name
WHERE [condition];
```

An useful command:

```mysql
DROP VIEW IF EXISTS view_name;
```


__Warning:__ Use `DROP` with caution (only drop something if you are sure)

__Note:__ You will find some cells marked as "Test" that will help you check your work. Do NOT modify them.

#### Exercise 1.1

Create a view "**bons_buveurs**" with the clients (buveurs) of type 'gros' or 'moyen'.

In [12]:
%%sql
DROP VIEW IF EXISTS bons_buveurs;

CREATE VIEW bons_buveurs AS
SELECT *
FROM client
WHERE client.TYPE IN ('gros', 'moyen');

 * sqlite:///wine.db
Done.
Done.

[]

In [13]:
# Test
%sql SELECT * FROM bons_buveurs ORDER BY nb;

 * sqlite:///wine.db
Done.

[(2, 'Artaud', 'Antonin', 'moyen'),
 (3, 'Aron', 'Raymond', 'gros'),
 (4, 'Apollinaire', 'Guillaume', 'moyen'),
 (6, 'Arrabal', 'Fernando', 'gros'),
 (7, 'Anouilh', 'Jean', 'moyen'),
 (8, 'Aragon', 'Louis', 'gros'),
 (10, 'Andersen', 'Yann', 'gros'),
 (12, 'Bataille', 'Georges', 'moyen'),
 (13, 'Barthes', 'Roland', 'moyen'),
 (14, 'Bory', 'Jean Louis', 'gros'),
 (16, 'Balzac', 'Honore de', 'moyen'),
 (18, 'Celine', 'Louis Ferdinand', 'gros'),
 (19, 'Ciceron', None, 'gros'),
 (20, 'Chateaubriand', 'Francois-Rene de', 'moyen'),
 (22, 'Cocteau', 'Jean', 'gros'),
 (24, 'Courrier', 'Paul Louis', 'moyen'),
 (26, 'Diderot', 'Denis', 'moyen'),
 (27, 'Dumas', 'Alexandre', 'gros'),
 (28, 'Dostoievsky', 'Fiodor', 'gros'),
 (31, 'Dante', None, 'gros'),
 (32, 'Eluard', 'Paul', 'moyen'),
 (33, 'Flaubert', 'Gustave', 'moyen'),
 (35, 'Fromentin', 'Eugene', 'gros'),
 (39, 'Montesquieu', None, 'gros'),
 (42, 'Goethe', 'Johann Wolfgang von', 'moyen'),
 (43, 'Musset', 'Alfred de', 'gros'),
 (46, 'Hugo', 'Victor', 'moyen'),
 (48, 'Hardy', 'Thomas', 'moyen'),
 (50, 'Lautreamont', None, 'moyen'),
 (53, 'Lamartine', 'Alphonse de', 'gros'),
 (55, 'Michelet', 'Jules', 'gros'),
 (57, 'Marx', 'Karl', 'gros'),
 (58, 'Marivaux', 'Pierre Carlet de Chamblain de', 'gros'),
 (60, 'Ovide', None, 'gros'),
 (62, 'Proust', 'Marcel', 'moyen'),
 (64, 'Platon', None, 'gros'),
 (66, 'Perec', 'Georges', 'gros'),
 (68, 'Prevert', 'Jacques', 'gros'),
 (70, 'Paulhan', 'Jean', 'gros'),
 (72, 'Rabelais', 'Francois', 'gros'),
 (73, 'Poe', 'Allan Edgard', 'moyen'),
 (75, 'Ronsard', 'Pierre', 'moyen'),
 (76, 'Racine', 'Jean', 'gros'),
 (78, 'Sandier', 'Jules', 'moyen'),
 (79, 'Sade', 'Donatien Alphonse Fran¿¿s de', 'gros'),
 (81, 'Sartre', 'Jean-Paul', 'gros'),
 (83, 'Sophocle', None, 'gros'),
 (84, 'Sue', 'Eugene', 'moyen'),
 (86, 'Saint Exupery', 'Antoine de', 'gros'),
 (87, 'Segur', 'Comtesse de', 'gros'),
 (91, 'Verlaine', 'Paul', 'gros'),
 (93, 'Virgile', None, 'gros'),
 (94, 'Zola', 'Emile', 'moyen'),
 (95, 'Zorn', 'Fritz', 'moyen'),
 (98, 'Maturin', 'Robert', 'gros'),
 (99, 'Cesar', 'Jules', 'gros')]

#### Exercise 1.2

Create the view "**buveurs_asec**" with clients (buveurs) who have not bought any wine.

In [14]:
%%sql sqlite:///wine.db


DROP VIEW IF EXISTS buveurs_asec;

CREATE VIEW buveurs_asec AS
SELECT NOM, PRENOM, client.NB
FROM client
WHERE client.NB NOT IN (SELECT vente.NB 
                         FROM vente
                         GROUP BY vente.NB);

Done.
Done.

[]

In [15]:
# Test
%sql SELECT * FROM buveurs_asec ORDER BY nb;

 * sqlite:///wine.db
Done.

[('Breton', 'Andre', 11),
 ('Barthes', 'Roland', 13),
 ('Balzac', 'Honore de', 16),
 ('Celine', 'Louis Ferdinand', 18),
 ('Chateaubriand', 'Francois-Rene de', 20),
 ('Corbiere', 'Tristan', 21),
 ('Corneille', 'Pierre', 23),
 ('Char', 'Rene', 25),
 ('Dumas', 'Alexandre', 27),
 ('Fournier', 'Alain', 29),
 ('Eluard', 'Paul', 32),
 ('Mauriac', 'Francois', 34),
 ('Fromentin', 'Eugene', 35),
 ('Maurois', 'Andre', 36),
 ('Freud', 'Sigmund', 37),
 ('Montesquieu', None, 39),
 ('Goethe', 'Johann Wolfgang von', 42),
 ('Musset', 'Alfred de', 43),
 ('Hugo', 'Victor', 46),
 ('Gary', 'Romain', 47),
 ('Lafargue', 'Paul', 51),
 ('Lamartine', 'Alphonse de', 53),
 ('Aurele', 'Marc', 54),
 ('Michelet', 'Jules', 55),
 ('Nerval', 'Gerard de', 56),
 ('Marx', 'Karl', 57),
 ('Nietzsche', 'Friedrich', 59),
 ('Maupassant', 'Guy de', 63),
 ('Platon', None, 64),
 ('Pascal', 'Blaise', 65),
 ('Perec', 'Georges', 66),
 ('Nin', 'Anais', 67),
 ('Prevert', 'Jacques', 68),
 ('Queneau', 'Raymond', 69),
 ('Paulhan', 'Jean', 70),
 ('Radiguet', 'Raymond', 71),
 ('Rabelais', 'Francois', 72),
 ('Poe', 'Allan Edgard', 73),
 ('Rimbaud', 'Arthur', 74),
 ('Racine', 'Jean', 76),
 ('Rousseau', 'Jean-Jacques', 77),
 ('Sandier', 'Jules', 78),
 ('Sade', 'Donatien Alphonse Fran¿¿s de', 79),
 ('Sartre', 'Jean-Paul', 81),
 ('Sophocle', None, 83),
 ('Sue', 'Eugene', 84),
 ('Segalen', 'Victor', 85),
 ('Saint Exupery', 'Antoine de', 86),
 ('Segur', 'Comtesse de', 87),
 ('Shakespeare', 'William', 88),
 ('Stendhal', None, 89),
 ('Vian', 'Boris', 90),
 ('Verlaine', 'Paul', 91),
 ('Virgile', None, 93),
 ('Zorn', 'Fritz', 95),
 ('Maturin', 'Robert', 98),
 ('Cesar', 'Jules', 99)]

#### Exercise 1.3

Create the view "**buveurs_achats**" complementary to the previous one.

In [16]:
%%sql
DROP VIEW IF EXISTS buveurs_achats;

CREATE VIEW buveurs_achats AS
SELECT NOM, PRENOM, client.NB
FROM client
WHERE client.NB IN (SELECT vente.NB 
                         FROM vente
                         GROUP BY vente.NB);

 * sqlite:///wine.db
Done.
Done.

[]

In [17]:
# Test
%sql SELECT * FROM buveurs_achats ORDER BY nb;

 * sqlite:///wine.db
Done.

[('Aristote', None, 1),
 ('Artaud', 'Antonin', 2),
 ('Aron', 'Raymond', 3),
 ('Apollinaire', 'Guillaume', 4),
 ('Audiberti', 'Jacques', 5),
 ('Arrabal', 'Fernando', 6),
 ('Anouilh', 'Jean', 7),
 ('Aragon', 'Louis', 8),
 ('Ajar', 'Emile', 9),
 ('Andersen', 'Yann', 10),
 ('Bataille', 'Georges', 12),
 ('Bory', 'Jean Louis', 14),
 ('Baudelaire', 'Charles', 15),
 ('Camus', 'Albert', 17),
 ('Ciceron', None, 19),
 ('Cocteau', 'Jean', 22),
 ('Courrier', 'Paul Louis', 24),
 ('Diderot', 'Denis', 26),
 ('Dostoievsky', 'Fiodor', 28),
 ('La Fontaine', 'Jean de', 30),
 ('Dante', None, 31),
 ('Flaubert', 'Gustave', 33),
 ('Montaigne', 'Michel de', 38),
 ('Moliere', None, 40),
 ('Gauthier', 'Theophile', 41),
 ('Gide', 'Andre', 44),
 ('Giono', 'Jean', 45),
 ('Hardy', 'Thomas', 48),
 ('Kafka', 'Franz', 49),
 ('Lautreamont', None, 50),
 ('Carroll', 'Lewis', 52),
 ('Marivaux', 'Pierre Carlet de Chamblain de', 58),
 ('Ovide', None, 60),
 ('Mallarme', 'Stephane', 61),
 ('Proust', 'Marcel', 62),
 ('Ronsard', 'Pierre', 75),
 ('Sand', 'Georges', 80),
 ('Roussel', 'Rene', 82),
 ('Verne', 'Jules', 92),
 ('Zola', 'Emile', 94),
 ('Wilde', 'Oscar', 96),
 ('Vigny', 'Alfred de', 97),
 ('Woolf', 'Virginia', 100)]

#### Exercise 1.4

Create the view "**q83pl**" (LIEU, CRU, QTE_BUE) that provides by LIEU and CRU the total quantities bought in 1983 by all the clients (buveurs).

In [20]:
%%sql
DROP VIEW IF EXISTS q83pl;

CREATE VIEW q83pl AS
SELECT Lieu, CRU, SUM(vente.QTE) AS QTE_BUE 
FROM vente
JOIN vin ON vin.NV = vente.NV
WHERE vente.DATEs LIKE "1983%"
GROUP BY vente.LIEU, vin.CRU;

 * sqlite:///wine.db
Done.
Done.

[]

In [21]:
# Test
%sql SELECT * FROM q83pl;

 * sqlite:///wine.db
Done.

[('CAEN', 'Seyssel', 3),
 ('LILLE', 'Pommard', 5),
 ('LYON', 'Beaujolais Villages', 10),
 ('LYON', 'Julienas', 2),
 ('PARIS', 'Beaujolais Primeur', 4),
 ('PARIS', 'Coteaux du Tricastin', 1),
 ('PARIS', 'Pouilly Vinzelles', 3),
 ('RENNES', 'Mercurey', 1),
 ('ROCQUENCOURT', 'Beaujolais Villages', 260),
 ('ROCQUENCOURT', 'Saint Amour', 80)]

#### Exercise 1.5

Can we define the same view with ascending order over the attribute "QTE"? Provide an explanation for your answer.

Answer: To do so we just have to add the instruction "ORDER BY QTE_BUE ASC".
However ORDER BY is a costly operation and it might be more efficient to leave the view as simple as possible and use an ORDER BY when querying the view if need be.

___
# PART II: UPDATE DATABASE CONTENT

The syntax for the `UPDATE` operation is:

```sql
UPDATE table_name
SET column1 = value1, column2 = value2...., columnN = valueN
WHERE [condition];
```

The syntax for the `INSERT` operation is:

```sql
INSERT INTO table_name [(column1, column2, column3,...columnN)]  
VALUES (value1, value2, value3,...valueN);
```

Database updates are commited automatically in Jupyter/Python. _Transactions_ are an option to control and reverse changes. Additionally we can just reload a backup of the database (NOT an option in deployed systems)

__Note:__ Different to other Database Management Systems, SQLite views are read-only and so you can not execute a `DELETE`, `INSERT` or `UPDATE` statement on a view.

#### Exercise 2.1

Create a table "**RBB**" with the same schema as "**bons_buveurs**" which contains the tuples selected from "**bons_buveurs**"

In [24]:
%%sql 

DROP TABLE IF EXISTS RBB;

-- Create RBB table

CREATE TABLE RBB AS
SELECT *
FROM bons_buveurs;

 * sqlite:///wine.db
Done.
Done.

[]

In [25]:
# Test
%sql SELECT * FROM RBB;

 * sqlite:///wine.db
Done.

[(13, 'Barthes', 'Roland', 'moyen'),
 (16, 'Balzac', 'Honore de', 'moyen'),
 (18, 'Celine', 'Louis Ferdinand', 'gros'),
 (20, 'Chateaubriand', 'Francois-Rene de', 'moyen'),
 (27, 'Dumas', 'Alexandre', 'gros'),
 (32, 'Eluard', 'Paul', 'moyen'),
 (35, 'Fromentin', 'Eugene', 'gros'),
 (39, 'Montesquieu', None, 'gros'),
 (42, 'Goethe', 'Johann Wolfgang von', 'moyen'),
 (43, 'Musset', 'Alfred de', 'gros'),
 (46, 'Hugo', 'Victor', 'moyen'),
 (53, 'Lamartine', 'Alphonse de', 'gros'),
 (55, 'Michelet', 'Jules', 'gros'),
 (57, 'Marx', 'Karl', 'gros'),
 (64, 'Platon', None, 'gros'),
 (66, 'Perec', 'Georges', 'gros'),
 (68, 'Prevert', 'Jacques', 'gros'),
 (70, 'Paulhan', 'Jean', 'gros'),
 (72, 'Rabelais', 'Francois', 'gros'),
 (73, 'Poe', 'Allan Edgard', 'moyen'),
 (76, 'Racine', 'Jean', 'gros'),
 (78, 'Sandier', 'Jules', 'moyen'),
 (79, 'Sade', 'Donatien Alphonse Fran¿¿s de', 'gros'),
 (81, 'Sartre', 'Jean-Paul', 'gros'),
 (83, 'Sophocle', None, 'gros'),
 (84, 'Sue', 'Eugene', 'moyen'),
 (86, 'Saint Exupery', 'Antoine de', 'gros'),
 (87, 'Segur', 'Comtesse de', 'gros'),
 (91, 'Verlaine', 'Paul', 'gros'),
 (93, 'Virgile', None, 'gros'),
 (95, 'Zorn', 'Fritz', 'moyen'),
 (98, 'Maturin', 'Robert', 'gros'),
 (99, 'Cesar', 'Jules', 'gros'),
 (2, 'Artaud', 'Antonin', 'moyen'),
 (48, 'Hardy', 'Thomas', 'moyen'),
 (7, 'Anouilh', 'Jean', 'moyen'),
 (8, 'Aragon', 'Louis', 'gros'),
 (50, 'Lautreamont', None, 'moyen'),
 (3, 'Aron', 'Raymond', 'gros'),
 (4, 'Apollinaire', 'Guillaume', 'moyen'),
 (58, 'Marivaux', 'Pierre Carlet de Chamblain de', 'gros'),
 (60, 'Ovide', None, 'gros'),
 (10, 'Andersen', 'Yann', 'gros'),
 (6, 'Arrabal', 'Fernando', 'gros'),
 (62, 'Proust', 'Marcel', 'moyen'),
 (75, 'Ronsard', 'Pierre', 'moyen'),
 (26, 'Diderot', 'Denis', 'moyen'),
 (28, 'Dostoievsky', 'Fiodor', 'gros'),
 (22, 'Cocteau', 'Jean', 'gros'),
 (24, 'Courrier', 'Paul Louis', 'moyen'),
 (12, 'Bataille', 'Georges', 'moyen'),
 (14, 'Bory', 'Jean Louis', 'gros'),
 (19, 'Ciceron', None, 'gros'),
 (33, 'Flaubert', 'Gustave', 'moyen'),
 (31, 'Dante', None, 'gros'),
 (94, 'Zola', 'Emile', 'moyen')]

#### Exercise 2.2

Update the table you used to create "**bons_buveurs**": Change the "type" to 'gros' if the total of quantities bought is over 100.

Find the instances to update (schema may differ from the one in your table)

In [31]:
%%sql 

SELECT client.NB, client.NOM, client.TYPE, SUM(vente.QTE)
FROM client
    JOIN vente ON client.NB = vente.NB
WHERE client.TYPE IN ('petit', 'moyen')
GROUP BY (client.NB)
HAVING SUM(vente.QTE) > 100;

 * sqlite:///wine.db
Done.

[(2, 'Artaud', 'moyen', 583),
 (5, 'Audiberti', 'petit', 113),
 (9, 'Ajar', 'petit', 140),
 (44, 'Gide', 'petit', 171)]

Update instances

In [36]:
%%sql
UPDATE client
SET TYPE = 'gros'
WHERE client.NB IN (
   SELECT client.NB
    FROM client
    JOIN vente ON client.NB = vente.NB
    WHERE client.TYPE IN ('petit', 'moyen')
    GROUP BY (client.NB)
    HAVING SUM(vente.QTE) > 100
);

 * sqlite:///wine.db
4 rows affected.

[]

#### Exercise 2.3

Compare the content of _table_ "**RBB**" and the _view_ "**bons_buveurs**" after the update. What differences do you see? Explain

Let's focus on the list of tuples selected for update NB values: 2, 5, 9, 44. We can see from the querries below that:
1. RBB is not affected by the update, client NB=2 is still referenced as a medium type. This is expected as it is a table created from a view, once created it has no connection to the view.
2. The bon-buveurs view is however affected, the four clients are now referenced as big type. This is also expected, a view is the result of a stored query that is computed on demand. Here we demand a view after the table has been updated therefore it is reflected in the view.

In [39]:
%%sql 

SELECT *
FROM RBB
WHERE RBB.NB IN (2, 5, 9, 44);

Done.

[(2, 'Artaud', 'Antonin', 'moyen')]

In [40]:
%%sql

SELECT *
FROM bons_buveurs
WHERE bons_buveurs.NB IN (2, 5, 9, 44);

 * sqlite:///wine.db
Done.

[(2, 'Artaud', 'Antonin', 'gros'),
 (44, 'Gide', 'Andre', 'gros'),
 (9, 'Ajar', 'Emile', 'gros'),
 (5, 'Audiberti', 'Jacques', 'gros')]

#### Exercise 2.4

Create a table "**RBA**" with the same schema as "**buveurs_asec**" which contains the tuples selected from "**buveurs_asec**"

In [41]:
%%sql
DROP TABLE IF EXISTS RBA;

-- Create clients table
CREATE TABLE RBA AS
SELECT *
FROM buveurs_asec;

 * sqlite:///wine.db
Done.
Done.

[]

In [42]:
# Test
%sql SELECT * FROM RBA

 * sqlite:///wine.db
Done.

[(11, 'Breton', 'Andre', 'petit'),
 (13, 'Barthes', 'Roland', 'moyen'),
 (16, 'Balzac', 'Honore de', 'moyen'),
 (18, 'Celine', 'Louis Ferdinand', 'gros'),
 (20, 'Chateaubriand', 'Francois-Rene de', 'moyen'),
 (21, 'Corbiere', 'Tristan', 'petit'),
 (23, 'Corneille', 'Pierre', 'petit'),
 (25, 'Char', 'Rene', 'petit'),
 (27, 'Dumas', 'Alexandre', 'gros'),
 (29, 'Fournier', 'Alain', 'petit'),
 (32, 'Eluard', 'Paul', 'moyen'),
 (34, 'Mauriac', 'Francois', 'petit'),
 (35, 'Fromentin', 'Eugene', 'gros'),
 (36, 'Maurois', 'Andre', 'petit'),
 (37, 'Freud', 'Sigmund', 'petit'),
 (39, 'Montesquieu', None, 'gros'),
 (42, 'Goethe', 'Johann Wolfgang von', 'moyen'),
 (43, 'Musset', 'Alfred de', 'gros'),
 (46, 'Hugo', 'Victor', 'moyen'),
 (47, 'Gary', 'Romain', 'petit'),
 (51, 'Lafargue', 'Paul', 'petit'),
 (53, 'Lamartine', 'Alphonse de', 'gros'),
 (54, 'Aurele', 'Marc', 'petit'),
 (55, 'Michelet', 'Jules', 'gros'),
 (56, 'Nerval', 'Gerard de', 'petit'),
 (57, 'Marx', 'Karl', 'gros'),
 (59, 'Nietzsche', 'Friedrich', 'petit'),
 (63, 'Maupassant', 'Guy de', 'petit'),
 (64, 'Platon', None, 'gros'),
 (65, 'Pascal', 'Blaise', 'petit'),
 (66, 'Perec', 'Georges', 'gros'),
 (67, 'Nin', 'Anais', 'petit'),
 (68, 'Prevert', 'Jacques', 'gros'),
 (69, 'Queneau', 'Raymond', 'petit'),
 (70, 'Paulhan', 'Jean', 'gros'),
 (71, 'Radiguet', 'Raymond', 'petit'),
 (72, 'Rabelais', 'Francois', 'gros'),
 (73, 'Poe', 'Allan Edgard', 'moyen'),
 (74, 'Rimbaud', 'Arthur', 'petit'),
 (76, 'Racine', 'Jean', 'gros'),
 (77, 'Rousseau', 'Jean-Jacques', 'petit'),
 (78, 'Sandier', 'Jules', 'moyen'),
 (79, 'Sade', 'Donatien Alphonse Fran¿¿s de', 'gros'),
 (81, 'Sartre', 'Jean-Paul', 'gros'),
 (83, 'Sophocle', None, 'gros'),
 (84, 'Sue', 'Eugene', 'moyen'),
 (85, 'Segalen', 'Victor', 'petit'),
 (86, 'Saint Exupery', 'Antoine de', 'gros'),
 (87, 'Segur', 'Comtesse de', 'gros'),
 (88, 'Shakespeare', 'William', 'petit'),
 (89, 'Stendhal', None, 'petit'),
 (90, 'Vian', 'Boris', 'petit'),
 (91, 'Verlaine', 'Paul', 'gros'),
 (93, 'Virgile', None, 'gros'),
 (95, 'Zorn', 'Fritz', 'moyen'),
 (98, 'Maturin', 'Robert', 'gros'),
 (99, 'Cesar', 'Jules', 'gros')]

#### Exercise 2.5

Insert a tuple (101, 'your last name', 'your first name', 'your type of purchases(petit, moyen, or gros)') to "**RBA**".

In [43]:
%%sql sqlite:///wine.db

INSERT INTO RBA VALUES (101, 'Younes', 'Chloe', 'petit');

1 rows affected.

[]

In [44]:
# Test
%sql SELECT * FROM RBA

 * sqlite:///wine.db
Done.

[(11, 'Breton', 'Andre', 'petit'),
 (13, 'Barthes', 'Roland', 'moyen'),
 (16, 'Balzac', 'Honore de', 'moyen'),
 (18, 'Celine', 'Louis Ferdinand', 'gros'),
 (20, 'Chateaubriand', 'Francois-Rene de', 'moyen'),
 (21, 'Corbiere', 'Tristan', 'petit'),
 (23, 'Corneille', 'Pierre', 'petit'),
 (25, 'Char', 'Rene', 'petit'),
 (27, 'Dumas', 'Alexandre', 'gros'),
 (29, 'Fournier', 'Alain', 'petit'),
 (32, 'Eluard', 'Paul', 'moyen'),
 (34, 'Mauriac', 'Francois', 'petit'),
 (35, 'Fromentin', 'Eugene', 'gros'),
 (36, 'Maurois', 'Andre', 'petit'),
 (37, 'Freud', 'Sigmund', 'petit'),
 (39, 'Montesquieu', None, 'gros'),
 (42, 'Goethe', 'Johann Wolfgang von', 'moyen'),
 (43, 'Musset', 'Alfred de', 'gros'),
 (46, 'Hugo', 'Victor', 'moyen'),
 (47, 'Gary', 'Romain', 'petit'),
 (51, 'Lafargue', 'Paul', 'petit'),
 (53, 'Lamartine', 'Alphonse de', 'gros'),
 (54, 'Aurele', 'Marc', 'petit'),
 (55, 'Michelet', 'Jules', 'gros'),
 (56, 'Nerval', 'Gerard de', 'petit'),
 (57, 'Marx', 'Karl', 'gros'),
 (59, 'Nietzsche', 'Friedrich', 'petit'),
 (63, 'Maupassant', 'Guy de', 'petit'),
 (64, 'Platon', None, 'gros'),
 (65, 'Pascal', 'Blaise', 'petit'),
 (66, 'Perec', 'Georges', 'gros'),
 (67, 'Nin', 'Anais', 'petit'),
 (68, 'Prevert', 'Jacques', 'gros'),
 (69, 'Queneau', 'Raymond', 'petit'),
 (70, 'Paulhan', 'Jean', 'gros'),
 (71, 'Radiguet', 'Raymond', 'petit'),
 (72, 'Rabelais', 'Francois', 'gros'),
 (73, 'Poe', 'Allan Edgard', 'moyen'),
 (74, 'Rimbaud', 'Arthur', 'petit'),
 (76, 'Racine', 'Jean', 'gros'),
 (77, 'Rousseau', 'Jean-Jacques', 'petit'),
 (78, 'Sandier', 'Jules', 'moyen'),
 (79, 'Sade', 'Donatien Alphonse Fran¿¿s de', 'gros'),
 (81, 'Sartre', 'Jean-Paul', 'gros'),
 (83, 'Sophocle', None, 'gros'),
 (84, 'Sue', 'Eugene', 'moyen'),
 (85, 'Segalen', 'Victor', 'petit'),
 (86, 'Saint Exupery', 'Antoine de', 'gros'),
 (87, 'Segur', 'Comtesse de', 'gros'),
 (88, 'Shakespeare', 'William', 'petit'),
 (89, 'Stendhal', None, 'petit'),
 (90, 'Vian', 'Boris', 'petit'),
 (91, 'Verlaine', 'Paul', 'gros'),
 (93, 'Virgile', None, 'gros'),
 (95, 'Zorn', 'Fritz', 'moyen'),
 (98, 'Maturin', 'Robert', 'gros'),
 (99, 'Cesar', 'Jules', 'gros'),
 (101, 'Younes', 'Chloe', 'petit')]

;;#### Exercise 2.6;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;://///////////;;;;;;
;Compare the content of _table_ "**RBA**" and the _view_ "**buveurs_asec**". What differences do you see? Explain

ll;l;///;Answer:The RBA table has been updated with my line yest it does not impact the view buveurs_asc which is expected as this view is built from the client table that I did not update. RBA is a table created from that view, it is after that totaly independent from it.

In [46]:
%%sql 

SELECT * FROM buveurs_asec;

 * sqlite:///wine.db
Done.

[(11, 'Breton', 'Andre', 'petit'),
 (13, 'Barthes', 'Roland', 'moyen'),
 (16, 'Balzac', 'Honore de', 'moyen'),
 (18, 'Celine', 'Louis Ferdinand', 'gros'),
 (20, 'Chateaubriand', 'Francois-Rene de', 'moyen'),
 (21, 'Corbiere', 'Tristan', 'petit'),
 (23, 'Corneille', 'Pierre', 'petit'),
 (25, 'Char', 'Rene', 'petit'),
 (27, 'Dumas', 'Alexandre', 'gros'),
 (29, 'Fournier', 'Alain', 'petit'),
 (32, 'Eluard', 'Paul', 'moyen'),
 (34, 'Mauriac', 'Francois', 'petit'),
 (35, 'Fromentin', 'Eugene', 'gros'),
 (36, 'Maurois', 'Andre', 'petit'),
 (37, 'Freud', 'Sigmund', 'petit'),
 (39, 'Montesquieu', None, 'gros'),
 (42, 'Goethe', 'Johann Wolfgang von', 'moyen'),
 (43, 'Musset', 'Alfred de', 'gros'),
 (46, 'Hugo', 'Victor', 'moyen'),
 (47, 'Gary', 'Romain', 'petit'),
 (51, 'Lafargue', 'Paul', 'petit'),
 (53, 'Lamartine', 'Alphonse de', 'gros'),
 (54, 'Aurele', 'Marc', 'petit'),
 (55, 'Michelet', 'Jules', 'gros'),
 (56, 'Nerval', 'Gerard de', 'petit'),
 (57, 'Marx', 'Karl', 'gros'),
 (59, 'Nietzsche', 'Friedrich', 'petit'),
 (63, 'Maupassant', 'Guy de', 'petit'),
 (64, 'Platon', None, 'gros'),
 (65, 'Pascal', 'Blaise', 'petit'),
 (66, 'Perec', 'Georges', 'gros'),
 (67, 'Nin', 'Anais', 'petit'),
 (68, 'Prevert', 'Jacques', 'gros'),
 (69, 'Queneau', 'Raymond', 'petit'),
 (70, 'Paulhan', 'Jean', 'gros'),
 (71, 'Radiguet', 'Raymond', 'petit'),
 (72, 'Rabelais', 'Francois', 'gros'),
 (73, 'Poe', 'Allan Edgard', 'moyen'),
 (74, 'Rimbaud', 'Arthur', 'petit'),
 (76, 'Racine', 'Jean', 'gros'),
 (77, 'Rousseau', 'Jean-Jacques', 'petit'),
 (78, 'Sandier', 'Jules', 'moyen'),
 (79, 'Sade', 'Donatien Alphonse Fran¿¿s de', 'gros'),
 (81, 'Sartre', 'Jean-Paul', 'gros'),
 (83, 'Sophocle', None, 'gros'),
 (84, 'Sue', 'Eugene', 'moyen'),
 (85, 'Segalen', 'Victor', 'petit'),
 (86, 'Saint Exupery', 'Antoine de', 'gros'),
 (87, 'Segur', 'Comtesse de', 'gros'),
 (88, 'Shakespeare', 'William', 'petit'),
 (89, 'Stendhal', None, 'petit'),
 (90, 'Vian', 'Boris', 'petit'),
 (91, 'Verlaine', 'Paul', 'gros'),
 (93, 'Virgile', None, 'gros'),
 (95, 'Zorn', 'Fritz', 'moyen'),
 (98, 'Maturin', 'Robert', 'gros'),
 (99, 'Cesar', 'Jules', 'gros')]

___
# PART III: Design the database schema for posts in a Social Network

In this section your task is to design the database schema for a social network app of a new startup:

The new social network will contain users, where each user will have a name, a nickname, an email, date of birth, and an address (Street, City, State, Country, Postal Code). Users can be friends of other users, and can publish posts. Each post can contain a text, date and attachment. Posts can be either original posts or replies so the app needs to handle both scenarios. When users log in, the app needs to display the posts of their friends.

**Note:** You can create diagrams of your proposal and insert them as images into this notebook.

#### Exercise 3.1

Write and explain the design of the relations of your database

**Social network design**

We have 2 entity sets:
1. Users
2. Posts
We have 2 binary relationships:
1. Publish (between users and posts)
2. Friendship (between users and users)

**Publish** relationship is a one-to-many relationship between a user and a post:
 - a user is associated with several (including 0) posts via **Publish**
 - a post is associated with exactly one user via **Publish**,
 
 
**Friendship** relationship is a zero-to-many relationship between a user and another user:
 - A user has zero to many friends, and a user is a friend to zero to many users.

All these relations can be summarized in the figure below.
Rectangle boxes denote entities, diamond boxes are relationships.
The double line indicates the total participation of post in **Publish** (ie a post has to have a publisher = a user).

In [49]:
url = "https://www.lucidchart.com/invitations/accept/6b0581a1-71ff-406e-bb3c-9c9dab49ebb7"
from IPython.display import HTML
HTML(filename= <div style="width: 640px; height: 480px; margin: 10px; position: relative;"><iframe allowfullscreen frameborder="0" style="width:640px; height:480px" src="https://www.lucidchart.com/documents/embeddedchart/e78c2631-7bcf-4f91-9cfb-01bd5e1d0ed2" id="n.i9r7eTxr9-"></iframe></div>)

SyntaxError: invalid syntax (<ipython-input-49-aed3c32d6c3f>, line 3)

##### Reduction to Relation Schemas

From diagram above, entity sets and relationship sets can be expressed as
relation schemas that represent the contents of the database;
we can create 4 tables: **Users**, **Posts**, **Publish** and **Friendship**.


**Users**

The table contains 10 fields with **ID** as the *PRIMARY KEY*.

| *Attribute*        |
|:-------------------|
| **ID** [PK]        |
| NAME               |
| NICKNAME           |
| EMAIL              |
| DATE_OF_BIRTH      |
| STREET             |
| CITY               |
| STATE              |
| COUNTRY            |
| POSTAL_CODE        |


**Posts**

The table contains 5 fields with **ID** as the *PRIMARY KEY*.

| *Attribute*        |
|:-------------------|
| **ID** [PK]        |
| TEXT               |
| DATE               |
| ATTACHMENT         |
| TYPE_OF_POST       |


**Publish**

The table contains 2 fields with **USER_ID** and  **POST_ID** as the *PRIMARY KEY*.

| *Attribute*        |
|:-------------------|
| **USER_ID** [PK]   | 
| **POST_ID** [PK]   | 


**Friendship**

The table contains 2 fields with **USER_ID_1** and  **USER_ID_2** or **FRIEND_ID** as the *PRIMARY KEY*.

| *Attribute*        |
|:-------------------|
| **USER_ID** [PK]   | 
| **FRIEND_ID** [PK] |

#### Exercise 3.2

Write a view to retrieve the posts to display when a user logs in. Consider that some users may have a lot of friends and you need to limit the number of post to display. How would you select relevant posts to display first? What kind of information would you use/add in the database for this purpose? Explain your answer.

__Note:__ Limiting the number of posts just by count is too simplistic, the user could be missing something interesting to him/her.

##### *Answer:*

There are different ways for selecting relevant posts to display first. We can choose to display:
 
 - The most recent posts, using the date as information and selecting does posted since last connection (we would then have to add a last connection date attribut)
 - the posts from the most popular friends by counting the followers of each user
 - the posts having had the most responses
 - the posts of users to which you most often respond to...
 
We propose to create a view which displays the posts published by friends of the user (including its own posts, for follow_up purpose).
The posts are sorted by topic (i.e. same thread) and by date.

Exemple of a possible *view* which can be used at runtime with a `WHERE` clause.

```sql
CREATE VIEW LastPosts_02 AS
SELECT Friendship.FRIEND_ID AS loggerID, Posts.PARENT_ID AS topic,
       Users.ID AS "from", Posts.DATE, Posts.TEXT 
FROM Friendship
    JOIN Posts ON Friendship.USER_ID=Users.ID
    JOIN Publisher ON Posts.ID=publisher.POST_ID
    JOIN Users ON Publisher.USER_ID=Users.ID
UNION
SELECT Users.ID AS logger, Posts.PARENT_ID AS topic,
       Users.ID, Posts.DATE, Posts.TEXT
FROM Users
    JOIN Publisher ON Users.ID = Publisher.USER_ID
    JOIN Posts ON Publisher.POST_ID = Posts.ID
ORDER BY topic, Posts.DATE DESC;
```